<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Questions and Answers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Question 1</ion-card-title>
      <ion-card-subtitle>Language: JavaScript/TypeScript</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="code-block">
        <pre>
              <code [innerHTML]="question1"></code>
        </pre>
      </div>
    </ion-card-content>
    <!-- <ion-item>
            <form [formGroup]="stringForm">
                <ion-item>
                    <ion-label position="floating">Check a string for null or empty</ion-label>
                    <ion-input placeholder="Enter a string" formControlName="stringInput" type="text" spellcheck="false"></ion-input>
                  </ion-item>
            </form>
      </ion-item> -->
      <ion-item>
        <ion-button expand="full" (click)="runStringCheckSamples()">Run code</ion-button>
      </ion-item>
  </ion-card>

</ion-content>